_*.js
node_modules
packages/@formfunfunction/nuxt-template/template/nuxt/pages/index.vue
packages/@formfunfunction/nuxt-template/template/nuxt/nuxt.config.js
packages/@formfunfunction/nuxt-template/template/frameworks/jest/jest.config.js
